framework: netstandard2.0, net6.0
source https://api.nuget.org/v3/index.json
storage: none
nuget FSharp.Core                        >= 5.0.1 lowest_matching: true
nuget Aardvark.Build                     ~> 1.0.18

nuget FSharp.Data.Adaptive               ~> 1.2.13
nuget CSharp.Data.Adaptive               ~> 1.2.13

nuget Aardvark.Base                      ~> 5.2.18
nuget Aardvark.Base.FSharp               ~> 5.2.18
nuget Aardvark.Base.Tensors              ~> 5.2.18

nuget Aardvark.Rendering                 ~> 5.3.3
nuget Aardvark.Application.Utilities     ~> 5.3.3
nuget glTF2Loader                        ~> 1.1.4-alpha